/* work sans fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* for all */
* {
    font-family: 'Work Sans', sans-serif;
}

/* Header Section Starts here */

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2rem;
    color: rgb(19, 19, 19);
    font-weight: 700;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.banner {
    text-align: center;
    margin-top: 50px;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.banner-des {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px;
    color: rgb(114, 114, 114);
}

.btn-primary {
    border-radius: 8px;
    border: none;
    background: rgb(255, 144, 14);
    padding: 20px;
    margin-bottom: 40px;
    color: white;
    cursor: pointer;
}

.banner-img {
    width: 100%;
    border-radius: 8px;
}



/* main styles starts */

main {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 70px;
}

/* feature section starts here */

.features {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
}

.teams-content {
    /* width: 500px; */
}

.teams-content-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(114, 114, 114);
}

.of-our {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
}

#features-font {
    font-weight: 700;
    color: rgb(255, 144, 14);
}

.teams-content-des {
    font-size: 1rem;
}

/* feature section ends here */



/* ex starts  */

.experience {
    display: flex;
    gap: 100px;
}

.ex-card-container {
    margin-top: 50px;
}

.ex-card {
    margin-top: 15px;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.card-title {
    margin: 7px 0;
}

.ex-content .of-our {
    border-left: 5px rgb(255, 144, 14) solid;
    padding-left: 10px;
}

.ten-years-badge {
    border-radius: 8px;
    padding: 30px;
    background: rgb(255, 144, 14);
    width: 25%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: -110px;
    margin-left: -75px;
    position: relative;
}

/* ex ends  */




/* facts section starts here */

.facts {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fact-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin: 50px 75px;
}

.fact-card {
    text-align: center;
    padding: 25px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;

}

.card-stats {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* facts section ends here */


/* sponsor section starts */
.sponsor {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

}

/* sponsor section ends */


/* footer section start */

footer {
    max-width: 1150px;
    margin: 100px auto;
    text-align: center;
    border-radius: 8px;

    background: rgb(255, 244, 231);
    padding: 30px;
}

/* footer section ends  */






/* Responsive styles */

/* for mobile device */

@media screen and (max-width:576px) {

    /* header section starts */
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        flex-direction: column;
    }

    nav li {
        margin-right: 0;
    }

    /* header section ends here */


    /* feature section starts here */
    .features {
        flex-direction: column;
        padding: 25px;
    }

    .teams-img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.3rem;
    }


    /* feature section ends here */



    /* ex starts  */

.experience {
    flex-direction: column;
    gap: 100px;
    padding: 20px;
}

.ex-card-container {
    margin-top: 50px;
}

.ex-card {
    margin-top: 15px;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.card-title {
    margin: 7px 0;
}

.ex-content .of-our {
    border-left: 5px rgb(255, 144, 14) solid;
    padding-left: 10px;
}

.ten-years-badge {
    border-radius: 8px;
    padding: 20px;
    background: rgb(255, 144, 14);
    width: 25%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: -70px;
    margin-left: -10px;
    position: relative;
}

.ex-image-container {
    width: 100%;
}

.ex-image {
    width: 100%;
}

/* ex ends  */







    /* facts section starts here */

    .facts {
        /* margin-top: 50px; */
        margin-bottom: 50px;
        padding: 15px;
    }

    .fact-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 50px 10px;
    }


    .fact-card {
        text-align: center;
        padding: 25px;
        border: 1px solid rgb(255, 144, 14);
        border-radius: 8px;

    }

    .card-stats {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    /* facts section ends here */


    /* sponsor section starts */
    .sponsor {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 25px;
    }

    .logo-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        gap: 20px;

    }

    /* sponsor section ends */



}



/* Medium or tablet devices */

@media screen and (min-width: 576px) and (max-width:960px) {

    /* header section starts here */
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    /* feature section starts here */
    .features {
        flex-direction: column;
        padding: 25px;
    }

    .teams-img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.2rem;
    }

    /* feature section ends here */




        /* ex starts  */

.experience {
    flex-direction: column;
    gap: 100px;
    padding: 30px;
}

.ex-card-container {
    margin-top: 50px;
}

.ex-card {
    margin-top: 15px;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.card-title {
    margin: 7px 0;
}

.ex-content .of-our {
    border-left: 5px rgb(255, 144, 14) solid;
    padding-left: 10px;
}

.ten-years-badge {
    border-radius: 8px;
    padding: 20px;
    background: rgb(255, 144, 14);
    width: 25%;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: -100px;
    margin-left: -20px;
    position: relative;
}

.ex-image-container {
    width: 100%;
}

.ex-image {
    width: 100%;
}

/* ex ends  */






    /* facts section starts here */

    .facts {
        /* margin-top: 50px; */
        margin-bottom: 50px;
        padding: 20px;
    }

    .fact-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin: 50px 50px;
    }


    .fact-card {
        text-align: center;
        padding: 25px;
        border: 1px solid rgb(255, 144, 14);
        border-radius: 8px;

    }

    .card-stats {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    /* facts section ends here */


    /* sponsor section starts */
    .sponsor {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 30px;
    }

    .logo-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        gap: 20px;

    }

    /* sponsor section ends */
}